@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat&display=swap');

//fonts
$caveat: 'Caveat', cursive;
$montserrat: 'Montserrat', sans-serif;

$main-font: $montserrat;
$special-font: $caveat;

//colors
$main-green: #008674;
$sub-green: #00A399;
$dark-gray: #455561;
$light-gray: #C4C4C4;
$white: #fff;

html{
    font-size: 62.5%;
}


body {
    font-family: $main-font;
    font-size: 1.6rem;
};

h1 {
    font-family: $special-font;
    font-size: 4.8rem;
    font-weight: bolder;
    color: $main-green;
}

h4 {
    font-weight: bolder;
    margin-bottom: 1rem;
}
