@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat&display=swap');

//fonts

$main-font: 'Caveat', cursive;
$special-font: 'Montserrat', sans-serif;

//colors
$primary-color: #0b1816;

body {
    font: $main-font;
}